# Node.js dependencies
node_modules/
dist/
.env
.vscode/
.idea/

# Log files
*.log

# Build output (Vite or Next.js)
.next/
out/
build/

# System files
.DS_Store

# Netlify local folder (if using Netlify CLI)
.netlify/
